<div>
  <div *ngIf="row.who || row.what" class="whowhat">
    <!-- Should this be a button or a link? -->
    <!-- How does (click)= work? <a> isn't an Angular component... is it? -->
    <a href="#" *ngIf="row.who" class="who" (click)="handleClick(row.who)">{{row.who}}</a>
    <span *ngIf="row.who && row.what"> &mdash; </span>
    <span *ngIf="row.what">{{row.what}}</span>
  </div>
  <div class="timestamp">
    {{when}}
  </div>
</div>
<div *ngIf="row.notes">
  <app-long-response-formatter [text]="row.notes">
  </app-long-response-formatter>
</div>
<div *ngIf="row.other">
  <app-long-response-formatter [text]="row.other">
  </app-long-response-formatter>
</div>