<div *ngIf="row.who || row.what || row.when">
  <div *ngIf="row.who || row.what" class="whowhat">
    <!-- Should this be a button or a link? -->
    <!-- How does (click)= work? <a> isn't an Angular component... is it? -->
    <a href="#" *ngIf="row.who" class="who" (click)="handleClick(row.who)">{{row.who}}</a>
    <span *ngIf="row.who && row.what"> &mdash; </span>
    <span *ngIf="row.what">{{row.what}}</span>
  </div>
  <div *ngIf="row.when" class="timestamp">
    {{row.when}}
  </div>
</div>
<div *ngIf="row.notes">
  {{row.notes}}
</div>
<div *ngIf="row.other">
  {{row.other}}
</div>