:host {
    display: block;
    border: gray 1px solid;
    width: 300px;
    padding: 8px;
    margin-bottom: 8px;

    & > div:not(:last-child) {
        margin-bottom: 6px;
    }

    .who {
        font-weight: bold;
    }
    .timestamp {
        color: #bbbbbb;
        font-size: 12px;
    }
}

a {
    color: #184489;
    text-decoration: none;
}