:host {
    p {
        margin-block-start: 0;
    }
    p:not(:last-child) {
        margin-block-end: 0.7em;
    }
    p:last-child {
        margin-block-end: 0;
    }

    a {
        color: #184489;
        text-decoration: none;
    }
}