<a id="new-entry-fab" [attr.href]="newEntryUrl">
  <div class="plus-icon"></div>
</a>
<div id="top">
  <header>
    <h1>
      <a href="#" (click)="reset()">Friendlog</a>
    </h1>
    <span id="extra-links">
      <a href="https://github.com/prendradjaja/friendlog-web">GitHub</a>
      <a *ngIf="sheetUrl" [attr.href]="sheetUrl">Sheet</a>
    </span>
  </header>
  <div id="toggle-filters">
    <a href="#" (click)="toggleFilters()">Filter by</a>
    (<a href="#" (click)="toggleMerge()">{{ mergeGroups ? 'Merged' : 'Normal' }}</a>)
  </div>
  <ul *ngIf="showFilters" id="filters-container">
    <li class="filter-group" *ngFor="let group of friendGroups">
      <span *ngFor="let friend of group">
        <a href="#"
            [style.font-weight]="activeFilter === friend ? 'bold' : 'normal'"
            (click)="reset(); filterByWho(friend)">
          {{friend | firstName}}
        </a>
      </span>
    </li>
    <li class="filter-group">
      <span>
        <a href="#"
            [style.font-weight]="activeFilter === '' ? 'bold' : 'normal'"
            (click)="reset(); filterByWho('')">
          Other
        </a>
      </span>
      <span>
        <a href="#"
            [style.font-weight]="activeFilter === 'Phone' ? 'bold' : 'normal'"
            (click)="reset(); filterByPhone()">
          Phone
        </a>
      </span>
      <span>
        <a href="#"
            [style.font-weight]="activeFilter === 'Todo' ? 'bold' : 'normal'"
            (click)="reset(); filterByTodo()">
          Todo
        </a>
      </span>
    </li>
  </ul>
</div>
<div id="cards">
  <app-event-card *ngFor="let row of rows"
                  [row]="row"
                  (onClick)="reset(); filterByWho($event)">
  </app-event-card>
  <div *ngIf="rows.length === 0" style="color: gray">
    (Loading or intentionally blank)
  </div>
</div>