<div id="top">
  <h1>
    <a href="#" (click)="reset()">
      Friendlog
    </a>
  </h1>
  <a [attr.href]="newEntryUrl">New entry</a>
  &sdot;
  <a [attr.href]="newCombinedEntryUrl">From last</a>
  <span id="last-entry">
    ({{lastEntrySummary()}})
  </span>
</div>
<div id="cards">
  <!-- <app-event-card [row]='exampleRowFull'></app-event-card> -->
  <app-event-card *ngFor="let row of rows"
                  [row]="row"
                  (onClick)="filterByWho($event)">
  </app-event-card>
</div>

<!-- <table>
  <thead>
    <tr>
      <th>Timestamp</th>
      <th>Who</th>
      <th>Combine?</th>
      <th>When</th>
      <th>What</th>
      <th>Notes</th>
      <th>Other</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of rows">
      <td>{{row.createdAt}}</td>
      <td>{{row.who}}</td>
      <td>{{row.combine}}</td>
      <td>{{row.when}}</td>
      <td>{{row.what}}</td>
      <td>{{row.notes}}</td>
      <td>{{row.other}}</td>
    </tr>
  </tbody>
</table> -->