<div id="top">
  <h1>
    <a href="#" (click)="reset()">
      Friendlog
    </a>
  </h1>
  <a [attr.href]="newEntryUrl">New entry</a>
  &sdot;
  <a [attr.href]="newCombinedEntryUrl">From last</a>
  <span id="last-entry">
    ({{lastEntrySummary()}})
  </span>
  <div id="toggle-friend-groups">
    <a href="#" (click)="toggleFriendGroups()">Filter by</a>
  </div>
  <div *ngIf="showFriendGroups" id="friend-groups-container">
    <div class="friend-group" *ngFor="let group of friendGroups">
      <span *ngFor="let friend of group">
        <a href="#" (click)="reset(); filterByWho(friend)">{{friend | firstName}}</a>
      </span>
    </div>
    <div class="friend-group">
      <a href="#" (click)="reset(); filterByWho('')">Other</a>
    </div>
  </div>
</div>
<div id="cards">
  <app-event-card *ngFor="let row of rows"
                  [row]="row"
                  (onClick)="filterByWho($event)">
  </app-event-card>
  <div *ngIf="rows.length === 0" style="color: gray">
    (Loading or intentionally blank)
  </div>
</div>